* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open sans",serif;
}
img{
   margin-left: 50px;
}
.header {
    background-color: black;
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    position: fixed;
}
.header ul {
   list-style: none;
   display: flex;
}
.header ul li {
    padding: 10px 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}
.header ul li a {
    color: orange;
    text-decoration: none;
    font-size: 15px;
}
.header ul li a:hover {
    color: orange;
    text-decoration: underline;
}
.dropdown_menu {
    display: none;
}
.header ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    transition: all 0.3s ease;
    font-weight: normal;
}
.header ul li:hover .dropdown_menu ul {
    display:block;
    margin: 10px;
}
.header ul li:hover.dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}
.fa {
    color: white;
}
.fas {
    color: white;
} 
